<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Five Thirty Something: Better Leadership Now</title>
    <meta name="description" content="Our two party system is flawed and has produced limited options for strong leadership at all levels of government. It's on our generation to find the solutions for a country and an economy that's rapidly changing.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/stylesheets/typesetting.css">
    <meta property="og:image" content="assets/img/favicon.png" />
    <meta property="og:description" content="Our two party system is flawed and has produced limited options for strong leadership at all levels of government. It's on our generation to find the solutions for a country and an economy that's rapidly changing." />
    <!-- <link rel="canonical" href="http://bulma.io/"> -->
    <!-- <link rel="alternate" type="application/rss+xml" title="Bulma: a modern CSS framework based on Flexbox" href="http://bulma.io/feed.xml"> -->
    <link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon.png">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="192x192">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="96x96">
    <link rel="icon" type="image/png" href="assets/img/favicon.png" sizes="16x16">
    <!-- <link rel="manifest" href="/favicons/manifest.json"> -->
    <link rel="mask-icon" href="assets/img/favicon.png" color="#1fc8db">
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <meta name="msapplication-TileColor" content="#1fc8db">
    <meta name="msapplication-TileImage" content="assets/img/favicon.png">
    <!-- <meta name="msapplication-config" content="/favicons/browserconfig.xml"> -->
    <meta name="theme-color" content="#ffffff">
    <script type="text/javascript" src="assets/js/typesetting.min.js"></script>
  </head>
  <body>