<section class="hero is-info is-bold">
  <div class="hero-header">
    <header class="header">
      <div class="container">
        <!-- Left side -->
        <div class="header-left">
          <a class="header-item" href="#">
            <span class="is-large is-logo">Typesetting</span>
            <!-- <img src="images/bulma.png" alt="Logo"> -->
          </a>
    <!--       <a class="header-tab" href="#">
            Tab
          </a>
          <a class="header-tab is-active" href="#">
            Active tab
          </a> -->
        </div>

        <!-- Hamburger menu (on mobile) -->
        <span class="header-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>

        <!-- Right side -->
        <div class="header-right header-menu">
          <span class="header-item">
            <a href="#products">Products</a>
          </span>
          <span class="header-item">
            <a href="#tools">Tools</a>
          </span>
<!--           
          <span class="header-item">
            <a href="#about">About</a>
          </span> -->
          <span class="header-item">
            <a id="contact-us-button" class="button is-info is-outlined is-inverted" href="#">Contact</a>
          </span>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-content">
    <div class="container">
      <h4 class="subtitle">SOFTWARE DEVELOPMENT IN NEW YORK CITY</h4>
      <h1 class="title">
        A collective of engineers and designers building powerful tools.
      </h1>
      <hr>
      <h2 class="subtitle">
        We build productive application frameworks for developers, entrepreneurs, enterprises, governments and non-profits.
      </h2>
    </div>
  </div>
  <div class="hero-footer">
    <nav class="tabs is-boxed is-centered is-fullwidth">
      <div class="container">
        <ul>
          <li>
            <a href="/documentation/overview/start/">Strategy</a>
          </li>
          <li >
            <a href="/documentation/modifiers/syntax">Design</a>
          </li>
          <li>
            <a href="/documentation/grid/columns">Development</a>
          </li>
          <li>
            <a href="/documentation/navbar/">Deployment</a>
          </li>
          <li>
            <a href="/documentation/elements/button/">Support</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>

