<div id="contact-us-modal-popup" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="container has-text-centered">
      <h1 class="title" style="color:white;">Contact us</h1>
      <h3 class="subtitle"  style="color:white;">Shoot us a note (or an <a href="mailto:info@typesetting.io">email</a>) and we'll be in touch</h3>
      <iframe height="463" width="100%" allowtransparency="true" frameborder="0" scrolling="no" style="width:100%;border:none" src="//www.formget.com/app/embed/form/kiby-195218/i?w=100%">Your Contact </iframe>
    </div>
  </div>
  <button class="modal-close"></button>
</div>