<section class="hero is-fullheight is-light is-bold">
  <div class="hero-body">
    <div class="container has-text-centered">
      <figure class=" is-128x128 has-text-centered">
        <img src="assets/img/fivethirtysomething_logo.svg" style="max-width:10rem;">
      </figure>
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <div class="content ">
            <h1 class=" is-bold">
              Five Thirty Something
            </h1>
            <p style="text-align:justify">
              Our two party system is flawed and has produced limited options for strong leadership at all levels of government. It's on our generation to find the solutions for a country and an economy that's rapidly changing.</p> 
            <p style="text-align:justify">
              Join us in nominating friends, family and loved ones to run for office at all levels of government. We need a new generation of leadership from across the political spectrum made up of Independents, Republicans, Democrats, Conservatives, Liberals and Moderates.
            </p>
            <p style="text-align:justify">
              We're still figuring this out, sign up and help find a better solution.
            </p>
          </div>
        </div>
      </div>
      <a href="http://eepurl.com/cn0O71" target="_blank" class="button is-black" >
        <span class="icon">
          <i class="fa fa-check"></i>
        </span>
        <span>Get involved</span>
      </a>
    </div>
  </div>
</section>
